/* ==========================
   GOOGLE FONTS
   ========================== */
   @import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Lora:wght@500;600&family=Poppins:wght@400;500&display=swap");


/* ==========================
   RESET STYLES
   ========================== */
   *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
   }

   
/* ==========================
   GLOBAL STYLES
   ========================== */
   body{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
    background-color: hsl(19, 100%, 96%);
    font-family: "Poppins", sans-serif;
   }   

   a{
    text-decoration: none;
    cursor: pointer;
   }

   li{
    list-style: none;
    cursor: pointer;
   }

   button, i, img{
      cursor: pointer;
   }


/* ==========================
   HEADER STYLES
   ========================== */
   header{
    padding: 30px 0 60px 0;
    overflow: hidden;
   }

/* 
============NAVIGATION PART=============
*/
.navigation-part{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 
========NAV LOGO PART========
*/
.nav-logo{
    display: flex;
    align-items: center;
    gap: 5px;
}

.nav-logo img{
  width: 50px;
}

.nav-logo h1{
    letter-spacing: 3px;
}

/* 
========NAVBAR LINKS PART========
*/
.nav-container{
    display: flex;
    gap: 30px;
    align-items: center;
}

.nav-container ul{
    display: flex;
}

.PrimaryNav-Links{
    gap: 60px;
    font-weight: 500;
}

.SeconderyNav-Links{
    gap: 10px;
}

.SeconderyNav-Links li{
    background-color: #efb79e;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 50%;
}

.SeconderyNav-Links i{
    position: relative;
    top: 10%;
}


/* ==========================
   BANNER STYLES
   ========================== */
.banner-container{
    display: flex;
    font-family: "Lora", serif;
    padding-top: 100px;
}

/* 
========Banner Title PART========
*/
.banner-title{
    width: 500px;
}

.banner-title h1{
    font-size: 60px;
}

.banner-title  h1 span img{
    width: 50px;
}

.banner-title p{
    padding: 20px 0 40px 0;
    font-family: "Poppins", sans-serif;
}

/* 
========Banner Button PART========
*/
.banner-button{
    padding: 10px 20px;
    align-items: center;
    background-color: #d56d3f;
    border: none;
    border-radius: 50px;
    color: #fff;
    font-weight: 400;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
}

.banner-button i{
    font-size: 20px;
    position: relative;
    top: 5px;
    left: 3px;
}

/* 
========Banner Img========
*/
.banner-img-contentainer img{
    width: 600px;
    height: 400px;
}


/* ==========================
   MAIN SECTION STYLES
   ========================== */

/* ==========================
   ABOUT SECTION STYLES
   ========================== */
.about-section{
    padding: 0 0 100px 0;
}

.about-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 
========ABOUT IMG PART========
*/
.about-img img{
    width: 500px;
}

/* 
========ABOUT TITLE PART========
*/
.about-title-content{
    width: 500px;
}

.about-title-content h3{
    font-family: "Dancing Script", cursive;
    font-size: 35px;
    color: #d56d3f;
}

.about-title-content h1{
    font-size: 60px;
    font-family: "Lora", serif;
    padding: 10px 0 20px 0;
}

.about-title-content h1 span img{
    width: 50px;
}


/* ==========================
   POPULAR SECTION STYLES
   ========================== */
.Popular-section{
    padding: 20px 0 100px 0;
}

/* 
========POPULAR SECTION TITLE========
*/
.popular-sec-title{
    text-align: center;
    padding-bottom: 80px;
}

.popular-sec-title h3{
    font-family: "Dancing Script", cursive;
    font-size: 30px;
    color: #d56d3f;
}

.popular-sec-title h1{
    font-size: 50px;
}

.popular-container{
  display: grid;
  grid-template-columns: repeat(3, 0fr);
  justify-content: center;
  gap: 5.5rem;
}

.popular-card-main{
    background-color:  hsl(19, 100%, 97%);
    box-shadow: 0 8px 20px hsla(19, 64%, 48%, 0.313);
    padding:  20px 30px 30px 30px;
    border-radius: 30px;
}

/* 
========POPULAR CARD IMG========
*/
.dish-card-img{
    display: flex;
    justify-content: center;
}

.dish-card-img img{
   width: 220px;
}

/* 
========POPULAR CARD TITLE CONTENT========
*/
.dish-card-title{
    text-align: center;
}

.dish-card-title h1{
    padding: 20px 0 10px 0;
    font-family: "Lora", serif;
}

.dish-card-title p{
    font-size: 14px;
    padding: 0 0 20px 0;
}

.dish-card-title h4{
    color: #d56d3f;
}

.dish-card-title h4 span i{
    color: #fff;
    background-color: #d56d3f;
    padding: 5px;
    font-weight: lighter;
    border-radius: 50%;
    position: relative;
    left: 10%;
}

/* 
========POPULAR BUTTON========
*/
.popular-button-container{
    display: flex;
    justify-content: center;
    padding-top: 70px;
}

.popular-button-container button{
    padding: 15px 25px;
    border-radius: 50px;
    color: #fff;
    background-color: #d56d3f;
    border: none;
    font-size: 15px;
    align-items: center;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
}

.popular-button-container i{
    position: relative;
    top: 20%;
    left: 3%;
    font-size: 20px;
}


/* ==========================
   RECENTLY SECTION STYLES
   ========================== */
.Recently-section{
    padding: 30px 0 100px 0;
}

.recently-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 
========RECENTLY TITLE PART========
*/
.recently-title{
    width: 500px;
}

.recently-title h3{
    font-family: "Dancing Script", cursive;
    font-size: 35px;
    color: #d56d3f;
}

.recently-title h1{
    font-size: 60px;
    font-family: "Lora", serif;
    padding: 10px 0 20px 0;
}

/* 
========RECENTLY BUTTON PART========
*/
.recently-button{
    padding: 10px 20px;
    border-radius: 50px;
    color: #fff;
    background-color: #d56d3f;
    border: none;
    font-size: 15px;
    align-items: center;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    margin-top: 40px;
}

/* 
========RECENTLY IMG PART========
*/
.recently-img-contentainer img{
    width: 500px;
}


/* ===========================
    NEWSLATTER SECTION STYLES
   =========================== */
.newslatter-section{
    padding: 30px 0 100px 0;
}

.newslatter-container{
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
    background-color: hsl(18, 23%, 11%);
    box-shadow: 0 8px 20px hsla(0, 0%, 5%, 0.313);
    padding: 50px 0;
    border-radius: 50px;
}

/* 
========NEWSLATTER IMG PART========
*/
.newslatter-img-container img{
    width: 450px;
}

/* 
========NEWSLATTER TITLE PART========
*/
.newslatter-title-content h3{
    font-family: "Dancing Script", cursive;
    font-size: 35px;
    color: #d56d3f;
}

.newslatter-title-content h1{
    font-size: 50px;
    color: #fff;
    font-family: "Lora", serif;
    padding: 10px 0 20px 0;
}

/* 
========NEWSLATTER Mail PART========
*/
.newslatter-mail{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 7px 20px;
    border: none;
    border-radius: 50px;
    margin-top: 10px;
}

/* 
========NEWSLATTER Mail BUTTON PART========
*/
.newslatter-input{
    padding-top: 5px; 
    border: none;  
    font-size: 16px;
    padding: 0 5px;
    outline: none;
}

.newslatter-subscribe{
    color: #fff;
    background-color: #d56d3f;
    border: none;
    padding: 6px 20px 11px 20px;
    border-radius: 50px;
    align-items: center;
    font-family: "Poppins", sans-serif;
}

.newslatter-subscribe i{
    font-size: 20px;
    position: relative;
    top: 25%;
    left: 5%;
}


/* ===========================
    FOOTER SECTION STYLES
   =========================== */
.footer-section{
    padding: 60px 0 30px 0;
}

.footer-container{
    display: flex;
    justify-content: space-between;
}

/* 
========FOOTER HR PART========
*/
.footer-hr-top {
    margin-bottom: 60px;
    border: none; 
    height: 1px; 
    background-color: #000; 
}

.footer-hr-bottom{
    margin-top: 60px;
    border: none; 
    height: 1px; 
    background-color: #000; 
}

/* 
========FOOTER LOGO PART========
*/
.footer-logo-container{
    width: 250px;
}

.footer-logo{
    display: flex;
    align-items: center;
    gap: 5px;
}

.footer-logo img{
    width: 50px;
}

.footer-logo h1{
    font-size: 25px;
    letter-spacing: 3px;
}

.footer-logo-container p {
    display: flex;
    padding-top: 20px;
}

.footer-logo-container p span img{
    width: 30px;
    position: relative;
    top: 15%;
    left: 20%;
}

/* 
========FOOTER LINKS PART========
*/
.footer-links-content{
    display: flex;
    gap: 70px;
}

.footer-links-content ul{
    padding-top: 20px;
}

.footer-links-content li{
    padding-top: 15px;
}

.social-media ul{
    display: flex;
    gap: 30px;
}

.social-media li i{
    color: #fff;
    background-color: #d56d3f;
    padding: 10px;
    border-radius: 50%;
}

/* 
========FOOTER COPYRIGHT PART========
*/
.footer-copyright{
    text-align: center;
    padding-top: 30px;
}

.footer-copyright a{
    text-decoration: none;
    color: #000;
}